.header {
    height : 95vh;
    position: relative;
    background-image: linear-gradient(
        to right bottom ,
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)),
        url("../img/hero-small.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    clip-path: polygon(0 0,100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path: polygon(0 0,100% 0, 100% 75vh, 0 100%);

    @media screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    (min-width: 125em) {
        background-image: linear-gradient(
        to right bottom ,
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)),
        url("../img/hero.jpg");
    }

    @include respond(phone) {
        clip-path: polygon(0 0,100% 0, 100% 85vh, 0 100%);
        -webkit-clip-path: polygon(0 0,100% 0, 100% 85vh, 0 100%);
    }

    @include respond(tab-port) {
        background-attachment: initial;
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }
    
    &__text-box {
       position: absolute;
       top: 40%;
       left: 50%;
       transform: translate(-50%, -50%);
       text-align: center;
    
    }

}