@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//media query manager 
/*
    from 0-600px = mobile
    600-900px = tablet portrait
    900-1200px = tablet landscape
    [1200-1800px] = is where normal style apply
    1800 + = big screen

    ORDER : BASE + TYPOGRAPHY > general layout + grid > page layouts > components
/*
    breakpoint choice
        -phone
        -tab-port
        -tab-land
        -big-desktop
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media screen and (max-width: 37.5em) { @content; } //600px (600/ 16 = 37.5)
    }
    @if $breakpoint == tab-port {
        @media screen and (max-width: 56.25em) { @content; } //900px
    }
    @if $breakpoint == tab-land {
        @media screen and (max-width: 75em) { @content; } //1200px
    }
    @if $breakpoint == big-desktop {
        @media screen and (min-width: 112.5em) { @content; } //1800 px
    }
}