
$color-primary : #55c57a;
$color-primary-light : #7ed56f;
$color-primary-dark : #28b485;

$color-secondary-light :#fcc839;
$color-secondary-dark :#ff7730;

$color-tertiary-light :#2998ff;
$color-tertiary-dark :#5643fa;

$color-grey-dark : #777;
$color-grey-dark-2 : #999;
$color-grey-dark-3 : #333;

$color-white : #FFF;
$color-black : #000;
$color-grey-light-1 : #f7f7f7;
$color-grey-light-2 : #eee;


//FONT-SIZES
$default-font-size : 1.6rem;
