.card {

    //FUNCTIONNALITY 
    perspective: 1500rem;
    -moz-perspective: 1500rem;
    height: 52rem;
    position: relative; 
    background-color: transparent;
    border: none;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;


    &__side {       
        height: 52rem;
        transition: all .5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }

        &--back { 
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }



    &:hover &__side--front {
         transform: rotateY(-180deg);
    
    }

    &:hover &__side--back {
        transform: rotateY(0);
   }

   //FRONT SIDE STYLING
   &__picture {

        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0,100% 0,100% 85%, 0 100%);
        -webkit-clip-path: polygon(0 0,100% 0,100% 85%, 0 100%);
        border-radius: 3px;

    
        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url('../../img/nat-5.jpg');
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url('../../img/nat-6.jpg');
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url('../../img/nat-7.jpg');
        }
   }

   &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        text-align: right;
        width: 60%;
        position: absolute;
        top: 16rem;
        right: 2rem;
   }

   &__heading-span { 
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
       &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light,.85), rgba($color-secondary-dark,.85));
       }
       &--2 {
        background-image: linear-gradient(to right bottom, rgba($color-primary-light,.85), rgba($color-primary-dark,.85));
        }
        &--3 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light,.85), rgba($color-tertiary-dark,.85));
        }
   }

   &__details {
        padding: 2rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            
            li {
                text-align: center;
                font-size: 1.6rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
   }

   &__cta {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 90%;
   }

   &__price-box {
        margin-bottom: 8rem;
        color: $color-white;
   }

   &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
        
   }

   &__price-value {
        font-size: 6rem;
        font-weight: 100;
   }

   //@include respond(tab-port) {
    @media screen and (max-width: 56.25em),
    screen and (hover: none) {

           //FUNCTIONNALITY 
           height: auto;
           border-radius: 3px;
           background-color: $color-white;
           box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
           margin-bottom: 3rem;

        

            &__side {       
                height: auto;
                position: relative;
                overflow: hidden;
                box-shadow: none;
                

                &--front {
                    background-color: $color-white;
                }

                &--back { 
                    transform: rotateY(0);
                    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                }
            }

            &__details {
                padding: 0 2rem;
            }



            &:hover &__side--front {
                transform: rotateY(0);
            }

        &__cta {
            position: relative;
            top: 0%;
            left: 0%;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;

        }

        &__price-box {
                margin-bottom: 3rem;
                color: $color-white;
        }

        &__price-value {
                font-size: 4rem;
        }

    }
}