.feature-box {

    background-color: rgba($color-white, .7);
    font-size: 1.5rem;
    padding: 2.5rem 1.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;

    @include respond(tab-port) {
            margin-bottom: 2rem;
    }
    
    
    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

    }

    &:hover {
        transform: translateY(-2rem) scale(1.03);
        box-shadow: 0 2.5rem 4rem rgba($color-black, .15);
    
    }

}