.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    

    @supports ( -webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        backdrop-filter: hue-rotate(120deg) blur(5px);
        -webkit-backdrop-filter: hue-rotate(120deg) blur(5px);
        background-color: rgba($color-black, .3);

    }



    &:target{
        opacity: 1;
        visibility: visible;
        
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark-2;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
            transition: all .2s;
        }

        &:hover {
            color: $color-primary;
        }
    }

    &__content {
        @include absoluteCenter;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .4s .2s;
    } 

    &__left {
        width: 33.333333%;
        display: table-cell;

        @include respond(tab-land) {
            width: 33.333333%;
            display: table-cell;
            vertical-align: middle;
        }

        @include respond(tab-port) {
           display: none;
        }
    }

    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-port) {
          
         }
        
    }

    &__img {
        display: block;
        width: 100%;

    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 2rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

        @include respond(phone) {
            font-size: 1.4rem;
            margin-bottom: 2rem;
         }
    }
}